@model MVCExample1.Models.EmployeeGrid
<table style="width:100%">
    <tr>
        <td style="height:50px"></td>
    </tr>
    <tr>
        <td align="center">

            <table width="300">
                <tr>
                    <td>First Name</td>
                    <td>@Html.TextBoxFor(Model => Model.Fname)</td>
                </tr>

                <tr>
                    <td>Last Name</td>
                    <td>@Html.TextBoxFor(Model => Model.Fname)</td>
                </tr>

                <tr>
                    <td>Email ID</td>
                    <td>@Html.TextBoxFor(Model => Model.EmailID)</td>
                </tr>

                <tr>
                    <td>Phone Number</td>
                    <td>@Html.TextBoxFor(Model => Model.Phone)</td>
                </tr>

                <tr>
                    <td>City</td>
                    <td>@Html.TextBoxFor(Model => Model.City)</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
