@model IEnumerable<MVCExamples.Models.EmployeeGrid>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Midle Name
        </th>

        <th>
            Last Name
        </th>
        <th>
            Email Id
        </th>
        <th>
            Phone
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Fname
            </td>
            <td>
                @item.Mname
            </td>
            <td>
                @item.Lname
            </td>
            <td>
                @item.EmailID
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.City
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
